In [2]:
import pandas as pd
import numpy as np

# EDA

In [14]:
df = pd.read_csv('../data/dataset.csv', delimiter=';')
df.head()

                                         description  fraudulent
0  Food52, a fast-growing, James Beard Award-winn...           0
1  Organised - Focused - Vibrant - Awesome!Do you...           0
2  Our client, located in Houston, is actively se...           0
3  THE COMPANY: ESRI – Environmental Systems Rese...           0
4  JOB TITLE: Itemization Review ManagerLOCATION:...           0